/* Copied from http://bettermotherfuckingwebsite.com/ */
body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:rgb(68, 68, 68);
    padding:0 10px
}
h1,h2,h3{
    line-height:1.2
}

/* Basic Navbar based on https://www.w3schools.com/Css/css_navbar_horizontal.asp
 * I changed it to be more like the one here: https://berkeleygraphics.com/
*/
#navbar > ul{
    margin: 0;
    padding: 0;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}
#navbar > ul li {
    display: inline-block;
    text-align: center;
    padding: 2px 20px;
    background-color: white;
    border-color: black;
    border:2px solid;
}

#navbar > ul li a {
    color: black;
    text-decoration: none;
}

#navbar > ul li:hover{
    color: white;
    border-color: white;
    background-color: black;
}
#navbar > ul li:hover a {
    color: white;
}

#postamble {
    position: fixed;
    max-width:650px;
    bottom:0px;
    width:100%;
    background-color: white;
}

/* TODO: A ToC on the left side would be nice imo. But that would need to be fluid and collapse on mobile screens, hm... */

/* Org keywords
 * TODO: I will need more here.
 */
.org-keyword {
    color: #a020f0;
}
.org-function-name {
    color: #0000ff;
}
.org-string {
    color: #8b2252;
}
.org-builtin {
    color: #483d8b;
}
.org-comment {
    color: #c0c0c0;
}
.org-comment-delimiter {
    color: #c0c0c0;
}
